
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    min-height: 100vh;
  }
  
  .hide {
    display: none;
  }
  
  .nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;  
    background: #c51424; 
  }
  
  .menu {
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .menu a {
    clear: right;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    line-height: 70px;
    font-size: 18px;
  }
  
  #imagetoggle {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
  }
  
  #toggle {
    display: none;
  }
  
  #logout {
    cursor: pointer;
  }
  
  #dividir {
    display: flex;
    justify-content: space-between;
  }
  
  #ima {
    width: 100%;
  }
  
  #img,
  #login,
  #page2 {
    width: 50%;
    align-self: center;
  }
  
  #imagenima {
    width: 112px;
    left: 45%;
    margin: 6px;
    height: 59px;
    position: absolute;
    cursor: pointer;
    filter: grayscale(1);
  }
  
  #page3 {
    width: 100%;
  }
  
  #page4 {
    position: absolute;
    width: 100%;
    align-self: center;
    height: 570px;
    margin-top: 90px;
  }
  #dividir {
    display: flex;
    justify-content: flex-end;
    height: inherit;
  }
  
  #lado-izquierdo {
    height: 250px;
    border-radius: 20px;
    border: 2px solid #b9afaf;
  }
  
  #logoladoizquierdo {
    border-bottom: 2px solid #b9afaf;
    width: 260px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  #logo-7{
    width: 70px;
    height: 50px;
     -webkit-animation: rotate-letter 15s infinite;
     animation: rotate-letter 15s infinite;
     filter: grayscale(1);
  }
  
  @keyframes rotate-letter {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    90% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  #botones {
    display: flex;
    justify-content: space-around;
  }
  #textarea{
    width: 700px;
    height: 110px;
    margin: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #f8f8f8;
    resize: none;
    z-index: 1;
  }
  #div-file {
    margin: 10px;
    padding: 8px;
    width: 70px;
    background-color: #c51424;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 3px 0px #100003;
  }
  #texto {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0px;
  }
  #btn-enviar {
    position: absolute;
    top: 140px;
    left: 610px;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
    opacity: 0;
  }
  #botones-navegacion{
    display: flex;
    justify-content: space-between;
  }
  #btn-mostrartexto {
    border: none;
    color: #ffffff;
    margin: 10px;
    padding: 8px;
    background-color: #c51424;
    border-radius: 5px;
    box-shadow: 0px 3px 0px #100003;
    z-index: 1;
  }
  #parrafonombre {
    font-size: 20px;
  }
  input [type="submit"]{
    padding: 15px;
    background-color: #d8072d;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
  #lado-derecho {
    width: auto;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #b9afaf;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }
  #dontlook{
    border: 2px solid #b9afaf;
    border-radius: 9px;
    margin-top: 10px;
    color: #ff0000;
  }
  #parrafotextoarea{
    color: #ff0000;
    font-size: 12px;
    margin: 10px;
  }
  #lookatme{
    margin-top: 10px;
    font-size: 18px;
  }
  h4{
    border: 2px solid #b9afaf;
    border-radius: 9px;
    margin-bottom: 10px;
    color: #907878;
  }
  #parrafotextocorrecto{
    color: #333;
    font-size: 12px;
    margin: 10px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #3e6e98;
    padding-right: 30px;
    font-size: 25px;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    font: caption;
    width: 50%;
  }
  
  #respuesta {
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: 1px solid #ddd;
    background: #fff;
    color: #1d1c1d;
    border-left-width: 5px;
    margin: 0 auto 1rem;
    border-radius: .25rem;
    border-left-color: #4e4b4b;
  }
  
  .bx {
    color: #e01e5a;
  }
  
  #bx-1 {
    color: #ffffff;
    font-size: 25px;
  }
  
  #bx-2 {
    color: #ffffff;
    font-size: 18px;
  }
  
  #bx-3 {
    color: #f9f5f6;
    font-size: 19px;
  }
  
  .page2 {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    font: caption;
    width: 50%;
  }
  
  #img {
    background-image: url(img/giphy-1.gif);
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  
  .img {
    color: #ffffff;
    font-size: 25px;
    margin: 0;
    background: rgba(50, 51, 51, 0.57);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #formato-texto {
    text-align: center;
    padding: 170px;
  }
  
  h1 {
    text-align: center;
    color: #5f5151;
    font-size: 32px;
    margin-top: 0;
    border-bottom-style: inset;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 13px;
    border: none;
    border-bottom-style: inset;
    background: transparent;
    margin-bottom: 30px;
    font-size: medium;
  }
  
  .botones {
    display: flex;
    justify-content: space-around;
  }
  
  #btn-guardar,
  #btn-regresar{
    padding: 13px;
    border-radius: 50px;
    cursor: pointer;
    width: 140px;
    font-size: medium;  
    color:#ffffff;
    background: #ef0000;
  }
  #btn-ingresar:hover,
  #btn-guardar:hover,
  #btn-regresar:hover{  
    color:#ef0000;
    background: #ffffff;
    border: 1px solid #ef0000;
  }
  
  #btn-ingresar {  
    padding: 13px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;  
    font-size: medium;  
    color:#ffffff;
    background: #ef0000;
  }
  
  #ir-guardar {
    padding: 13px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: medium;
    color: #ef0000;
    font-weight: bold;
  }
  
  #mostrar {
    text-align: center;
  }
  
  #btn-guardar:hover {
    padding: 13px;
    border-radius: 50px;
    cursor: pointer;
    background: transparent;
  }
  
  span {
    font-weight: 800;
    color: #ffffff;
  }
  
  @media screen and (max-width: 600px) {
    body {
      flex-direction: inherit;
    }
  
    #img,
    #login,
    #page2 {
      width: 100%;
      height: 100%;
      justify-content: center;
    }
  
    #img {
      display: none;
    }
  
    img {
      height: 50%;
    }
  
    #formato-texto {
      display: none;
    }
  
    .login,
    .page2 {
      width: 90%;
    }
  
    #imagetoggle {
      display: block;
      cursor: pointer;
      color: #333;
    }
  
    #imagenima {
      width: 167px;
      left: 9px;
      height: 69px;
      position: absolute;
    }
  
    .menu {
      text-align: center;
      width: 100%;
      display: none;
    }
  
    .menu a {
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
      color: #ffffff;
      position: sticky;
      background: #bdbaba;
      /*background: #10879b;*/ 
      font-size: 25px;
    }
  
    #toggle:checked+.menu {
      display: block;
      margin: 0;
    }
  
    #page5 {
      background-color: #fff;
      z-index: -1;
      padding: 25px 0;
      margin-top: 60px;
    }
    #lado-izquierdo{
      height: 200px;
      border-radius: 20px;
      border: 2px solid #eee;
    }
    #lado-derecho{
      height: 200px;
      border-radius: 20px;
      border: 2px solid #eee;
    }
    #respuesta,
    #ima,
    #email,
    #contraseña,
    #name {
      margin-bottom: 30px;
    }
  
    #name,
    #email,
    #contraseña {
      width: 70%;
      margin-left: 35px;
      margin-right: 35px;
      font-size: 18px;
      border-radius: 30px;
      background: #fff;
      border: 1px solid #ff0000;
    }
  
    #labelname,
    #labelemail,
    #labelcontraseña{
      width: 70%;
      margin-left: 35px;
      margin-right: 35px;
      margin-bottom: 15px;
    }
    #nametxt,
    #emailtxt,
    #contraseñatxt {
      width: 80%;
      margin-left: 25px;
      margin-right: 25px;
      font-size: 18px;
      border-radius: 30px;
      background: #ddd;
    }
  
    #btn-ingresar {
      width: 60%;
      margin-left: 60px;
      margin-right: 60px;
      cursor: pointer;
      color:#ffffff;
      background: #ff0000;
    }
  
    #mostrar {
      text-align: center;
      width: 60%;
      margin-top: 30px;
      margin-left: 60px;
      margin-right: 60px;
    }
  }

