body{
  background-image: url(img/fondologin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hide{
  display: none;
}
.login {
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  margin-right: 140px;
  margin-top: 120px;
  padding: 30px;  
  background: rgba(215, 234, 234, 0.71);
}
.page2{
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  margin-right: 140px;
  margin-top: 120px;
  padding: 30px;
  background: rgba(215, 234, 234, 0.71);
}
#img{
  float: left;
  margin-left: 130px;
  margin-top: 120px;
}
h1{
  text-align: center;
  color: #5f5151;
  font-size: 32px;
  margin-top: 0;
}
.talk{
  text-align: center;
  color: #5f5151;
  font-size: 35px;
}
input[type="text"],
input[type="password"] {
  padding: 13px;
  border: none;
  border-bottom: 2px solid #ffffff;
  background: transparent;
  margin-bottom: 30px;
}
.botones{
  display: flex;
  justify-content: space-around;
}
#boton-guardar,
#boton-regresar {
  padding: 13px;
  border-radius: 50px;
  cursor: pointer;
  width: 120px;
}
#boton-segunda {
  padding: 13px;
  border-radius: 50px;
  cursor: pointer;
}
#ir-guardar {
  padding: 13px;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding-top: 274px;
  padding-left: 185px;
  position: absolute;
  color: red;
}
#respuesta{
  padding-left: 55px;
}
#boton-guardar:hover {
  padding: 13px;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
}
span{
  font-weight: 800;
  color: #ffffff;
}