body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  display: flex;
  min-height: 100vh;
}
.hide{
  display: none;
}
#ima{
  width: 100%;
}
#img, #login, #page2{
  width: 50%;
  align-self: center;
}
#imagenima{
  width: 167px;
  left: 45%;
  height: 69px;
  position: absolute;
  cursor: pointer;
}
.login {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  font: caption;
  width: 50%;
}
#respuesta{
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: 1px solid #ddd;
  background: #fff;
  color: #1d1c1d;
  border-left-width: 5px;
  margin: 0 auto 1rem;
  border-radius: .25rem;
  border-left-color: #4e4b4b;
}
.bx{
  color: #e01e5a;
}
#bx-1{
  color: #ffffff;
  font-size: 25px;
}
.page2{
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  font: caption;
  width: 50%;
}
#img{
  background-image: url(img/giphy.gif);
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.img{
  color: #ffffff;
  font-size: 25px;
  margin: 0;
  background: rgba(50, 51, 51, 0.57);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#formato-texto{
  text-align: center;
  padding: 170px;
}
h1{
  text-align: center;
  color: #5f5151;
  font-size: 32px;
  margin-top: 0;
  border-bottom-style: inset;
}
#passinvalida, #passcorreo{
  color: rgb(125, 113, 114);
  margin-top: calc(-20px);
  font-size: unset;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 13px;
  border: none;
  border-bottom-style: inset;
  background: transparent;
  margin-bottom: 30px;
  font-size: medium;
}
.botones{
  display: flex;
  justify-content: space-around;
}
#boton-guardar,
#boton-regresar {
  padding: 13px;
  border-radius: 50px;
  cursor: pointer;
  width: 140px;
  font-size: medium;
}
#boton-segunda,
#ir-guardar {
  padding: 13px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: medium;
}
#mostrar{
  text-align: center;
}
#boton-guardar:hover {
  padding: 13px;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
}
span{
  font-weight: 800;
  color: #ffffff;
}

@media screen and (max-width: 600px){
  body {
    flex-direction: inherit;
  }
  #img, #login, #page2 {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  #img{
    display: none;
  }
  img{
    height: 50%;
  }
  #formato-texto {
   display: none;
  }
  .login, .page2 {
    width: 90%;
  }
  #imagenima {
    width: 167px;
    left: 9px;
    height: 69px;
    position: absolute;
  }
  #respuesta,
  #ima,
  #email,
  #contraseña,
  #name {
    margin-bottom: 30px;
  }
  #name, #email, #contraseña {
    width: 70%;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 18px;
  }
  #nametxt,
  #emailtxt,
  #contraseñatxt {
    width: 80%;
    margin-left: 25px;
    margin-right: 25px;
  }
   #boton-segunda {
     width: 60%;
     margin-left: 60px;
     margin-right: 60px;
     cursor: pointer;
  }
   #mostrar{
     text-align: center;
     width: 60%;
     margin-top: 30px;
     margin-left: 60px;
     margin-right: 60px;
   }
}